@page
@model RazorChoreList.Pages_Chores.IndexModel

@{
    ViewData["Title"] = "Chore List";
}

<div>
    <p>People who are available:</p>
    <table class="table">
        <tbody>
            @foreach (var item in Model.People)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <p>
        <a asp-page="Create">Create New Chore</a>
    </p>
    <p>
        <a asp-page="../People/Create">Add New Person</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chore[0].ChoreName)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Chore[0].People.name) *@
                Assigned Person
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chore[0].CompletionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chore) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.people.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ChoreID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ChoreID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ChoreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
